.side-panel {
  background-color: #d5c4a1;
  padding: 20px;
  display: inline-block;
  height: 100vh;
  color: #d65d0e;
  transition: width 0.3s;
  width: 200px;
}

.side-panel.minimized {
  width: 24px;
  align-items: center;
}

.side-panel nav ul {
  list-style-type: none;
  padding: 0;
}

.side-panel nav ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.side-panel nav ul li a {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: inherit;
}

.side-panel nav ul li a img.icon {
  width: 24px;
  height: 24px;
}

.side-panel nav ul li a span {
  margin-left: 10px;
}

.side-panel nav ul li a:hover {
  color: #af3a03;
}

.toggle-button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.toggle-button img {
  width: 24px;
  height: 24px;
}
