body {
  background-color: #f2e5bc;
  color: #af3a03;
  margin: 0;
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, li, a, span, div {
  color: inherit;
}
