.main-page {
  display: flex;
  align-items: flex-start; /* Align items at the start vertically */
}

.content {
  margin-left: 20px; /* Add some space between the side panel and the content */
  padding: 20px;
  flex-grow: 1;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  color: inherit;
}

p, li {
  color: inherit;
}
